.signin-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
 .form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .input {
        margin: 10px 0;
        
    }
    
    .submit-button {
        margin-top: 20px;
        
    }
    
    .error-text {
        color: red;
        margin-top: 10px;
        
    }